*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b1b1b;
}
h2{
    position: relative;
    font-size: 40px;
    color: #999;
    font-weight: 300;
    margin-bottom: 5px;
    text-align: center;
}
#form{
    position: relative;
    border: 2px solid #131313;
    background: linear-gradient(#1e2024,#000);
    border-radius: 4px;
    overflow: hidden;
}
#form #email{
    width: 500px;
    outline: none;
    background: transparent;
    border: navajowhite;
    padding: 12px 15px;
    color:#ffff;
    font-size: 20px;

}
#form .indicator{
    position:absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: #555;
    border-radius: 50%;
}
#form.valid .indicator{
    background: green;
    box-shadow: 0 0 5px green,
                0 0 10px green,
                0 0 20px green,
                0 0 40px green;
}
#form.invalid .indicator{
    background: red;
    box-shadow: 0 0 5px red,
                0 0 10px red,
                0 0 20px red,
                0 0 40px red;
}


@media (max-width:480px){
    h2{
        position: relative;
        font-size: 24px;
        color: #999;
        font-weight: 100;
        margin-bottom: 10px;
        text-align: center;
    }
        #form #email{
            width: 300px;
            outline: none;
            background: transparent;
            border: navajowhite;
            padding: 12px 15px;
            color:#ffff;
            font-size: 15px;
        }
        #form .indicator{
            position:absolute;
            top: 15px;
            right: 20px;
            width: 10px;
            height: 10px;
            background: #555;
            
        }

}
@media (max-width:768px){
    h2{
        position: relative;
        font-size: 30px;
        color: #999;
        font-weight: 100;
        margin-bottom: 10px;
        text-align: center;
    }
        #form #email{
            width: 400px;
            outline: none;
            background: transparent;
            border: navajowhite;
            padding: 12px 15px;
            color:#ffff;
            font-size: 15px;
        }
        #form .indicator{
            position:absolute;
            top: 10px;
            right: 20px;
            width: 20px;
            height: 20px;
            background: #555;
            
        }

}
@media (max-width:1024px){
    h2{
        position: relative;
        font-size: 30px;
        color: #999;
        font-weight: 100;
        margin-bottom: 10px;
        text-align: center;
    }
        #form #email{
            width: 400px;
            outline: none;
            background: transparent;
            border: navajowhite;
            padding: 12px 15px;
            color:#ffff;
            font-size: 15px;
        }
        #form .indicator{
            position:absolute;
            top: 10px;
            right: 20px;
            width: 20px;
            height: 20px;
            background: #555;
            
        }

}